<div class="mat-elevation-z8">

  <table mat-table [dataSource]="products" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-mini-fab color="accent" aria-label="Add New Product" (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" aria-label="Modify Product"
          (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Remove Product"
          (click)="onRemove(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
